
services: 
  mongo:
    image: mongo:latest
    container_name: mongoDb
    volumes:
      - mongo_data:/data/db
  backend:
    build:
      context: ./Backend
      dockerfile: ../Docker/Dockerfile.backend
    container_name: backend_container
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./client
      dockerfile: ../Docker/Dockerfile.frontend
    container_name: frontend_container
    ports:
      - "5173:5173"
    depends_on:
      - backend
volumes:
  mongo_data: