name: Pulls and Deployment

on:
  workflow_run:
    workflows: ["Build and Push Docker Images"]  
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: dhanraj
          key: ${{ secrets.SERVER_SSH_KEY }}

          script: |
            DEPLOY_DIR=~/simple-testing-app

            echo "Checking deployment directory..."
            if [ ! -d "$DEPLOY_DIR" ]; then
              echo "Directory does not exist. Creating..."
              mkdir -p $DEPLOY_DIR
            fi

            cd $DEPLOY_DIR

            echo "Downloading latest docker-compose file..."
            curl -O https://raw.githubusercontent.com/dhanraj11/simple-testing-app/main/docker-compose.prod.yml

            echo "Pulling images..."
            docker compose -f docker-compose.prod.yml pull

            echo "Starting containers..."
            docker compose -f docker-compose.prod.yml up -d --remove-orphans

            echo "Cleaning unused images..."
            docker image prune -af

            echo "Deployment successful!"
